// media variables
$tablet: 'max-width: 1080px';
$mobile: 'max-width: 720px';

// colors
$white-100: #ffffff;

$gray-100: #e9ebf0;
$gray-200: #bbbecb;
$gray-600: #55607a;
$gray-700: #51596E;
$gray-800: #303a49;

$blue-500: #384EDD;
$blue-600: #273564;
$blue-700: #14234A;
$blue-800: #1D243F;

$pink-500: #ff7a78;

$cyan-500: #54e7d0;


// font
$default-fontsize: 16px;
